fastapi
uvicorn
python-multipart
httpx
celery
redis
pydantic
instructor
python-dotenv
opencv-python-headless
Pillow
confluent-kafka
pytest
pytest-mock
pytest-cov
requests

llama-cpp-python
google-genai

supabase
sqlalchemy
psycopg2-binary
pyngrok


