fastapi==0.120.3
starlette==0.49.1
typing-extensions==4.15.0
uvicorn==0.38.0
python-multipart==0.0.20
httpx==0.28.1
celery==5.5.3
redis==5.0.1
pydantic==2.12.3
instructor==1.12.0
python-dotenv==1.2.1
opencv-python-headless==4.12.0.88
Pillow==10.3.0
confluent-kafka==2.2.0
pytest==8.2.2
pytest-mock==3.15.1
pytest-cov==7.0.0
requests==2.32.5
llama-cpp-python==0.3.16
google-genai==0.3.0
google-api-core
ollama
supabase==2.22.4
sqlalchemy==2.0.44
psycopg2==2.9.11
pyngrok==7.4.1
annotated-doc==0.0.3